body {
  font-family: Arial, sans-serif;
}

h2, h3 {
  color: #333;
}

#recipe-info {
  margin-bottom: 20px;
}

.node {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.node-line {
  margin-left: 20px;
}

#production-tree {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.node-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.connection-line {
  width: 2px;
  height: 40px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.horizontal-line {
  width: 40px;
  height: 2px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

input[type="number"] {
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}
